{% extends "users/base.html" %}
{% block title %} Thần Số Học {% endblock %}

{% block content %}
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<h1>Thansohoc for {{ username }}</h1>
<h1>Số lượt vip còn lại: {{ data }}</h1>

<br>
<br>
<form action="calculate_numerology">
    {% csrf_token %}
    <label for="ngay">Ngày sinh:</label>
    <input type="number" name="ngay" min="1" max="31">
    <label for="thang">Tháng sinh:</label>
    <input type="number" name="thang" min="1" max="12">
    <label for="nam">Năm sinh:</label>
    <input type="number" name="nam"  min="1900" max="2100">
    <br>
    <br> 
    <label for="ten">Họ và tên:</label>
    <input type="text" name="ten">
    <button type="submit">Tính toán</button>
</form>
{% endblock %}